.header-bg {
    background: linear-gradient(to right, rgb(33, 37, 41) , rgb(103, 106, 108)) !important;
    color: #FFFFFF;
  }

.nav-legacy {
    margin: 3.85rem -0.5rem 0 !important;
}

.logo-caixa{
        margin-top: -6px;
        margin-left: 16px;    
}

.navbar-header-azul-caixa {
    background-color: rgb(33, 37, 41);
}

.navbar-bg {
    background: linear-gradient(to right, rgb(33, 37, 41) , rgb(33, 37, 41)) !important; */
}

.main-header{
    height: 57px !important;
}

li.user a:hover {
    background: none !important;
}

.labelError {
    color: #FF0000;
    font-weight: bold;
    /* text-shadow: 0 0 4px #FF0000; */
}
  